@use '../utils/pref' as *;

/********************************************************************************/
/* 参考:                                                                         */
/* https://github.com/aris-t2/customcssforfx                                    */
/********************************************************************************/
:root {
    menupopup, panel {
        --menuitem-padding-inline: 1em;
        --icon-pre-padding: var(--menuitem-padding-inline);
        --icon-post-padding: 8px;
        --icon-size: 16px;
        /* 基础缩进值：用于对齐没有图标的菜单项 */
        --panel-item-indent-base: calc(var(--icon-pre-padding) + var(--icon-size) + var(--icon-post-padding));

        /* 面板子视图缩进值 (如书签、历史记录面板) */
        --panel-item-indent-button: calc(var(--panel-item-indent-base) - 8px);

        /* 主菜单面板缩进值 (汉堡菜单) */
        --panel-item-indent-app-menu: calc(var(--panel-item-indent-base) - 12px);

        /* 分隔符末端外边距：用于缩短特定分隔符的长度 */
        --panel-separator-end-margin: calc(var(--panel-item-indent-base) - 22px);

        --panel-background: Field !important;
        --panel-background: light-dark(#fff, #353d49) !important;
        --panel-color: light-dark(#1c1c1c, #fff) !important;
        --panel-dimmed: color-mix(in srgb, currentColor 17%, transparent) !important;
        --panel-dimmed-further: color-mix(in srgb, currentColor 30%, transparent) !important;

        --panel-border-radius: 6px;
        --panel-list-border-radius: 4px;
        --panel-border: 1px solid var(--arrowpanel-border-color);
        --panel-margin-block: 4px;
        --panel-margin-inline: 4px;
        --panel-shadow:
            0 1px 2px 1px rgba(0, 0, 0, .1),
            0 1px 5px -3px rgba(0, 0, 0, .1),
            0 6px 10px 1px rgba(0, 0, 0, .1),
            0 4px 12px 2px rgba(0, 0, 0, .1);
    }

    menu,
    menuitem {
        --menuitem-padding: .5em var(--menuitem-padding-inline) !important;
        --menuitem-margin: 0 4px !important;
    }

    &[uidensity="compact"] {
        menupopup, panel {
            --menuitem-padding-inline: 8px;
            --panel-item-indent-button: calc(var(--panel-item-indent-base) - 4px);
            --panel-border-radius: 4px;
            --panel-list-border-radius: 3px;
            --panel-margin-block: 2px;
            --panel-margin-inline: 2px;
        }

        menu,
        menuitem {
            --menuitem-margin: 0 2px !important;
        }
    }
}

/* 调整缩进 */
:is(popup, menupopup)[type=arrow] :is(menu, menuitem):not(:is([checked], .menu-iconic, .menuitem-iconic)) {
    padding-inline-start: var(--panel-item-indent-base) !important;
}

:is(popup, menupopup)[type=arrow] :is(menuseparator, .bookmarks-actions-menuseparator) {
    appearance: none;
    margin: 2px !important;
    margin-inline-start: var(--panel-item-indent-base) !important;
}

.PanelUI-subView .subviewbutton:not(#appMenu-fxa-status2):not(.menuitem-iconic):not(.menu-iconic):not(.subviewbutton-iconic):not(.all-tabs-close-button) {
    padding-inline-start: var(--panel-item-indent-button) !important;
}

#PanelUI-bookmarks .subviewbutton:not(#appMenu-fxa-status2):not(.menuitem-iconic):not(.menu-iconic):not(.subviewbutton-iconic),
#PanelUI-history .subviewbutton:not(#appMenu-fxa-status2):not(.menuitem-iconic):not(.menu-iconic):not(.subviewbutton-iconic),
#appMenu-popup .PanelUI-subView .subviewbutton:not(#appMenu-fxa-status2):not(.menuitem-iconic):not(.menu-iconic):not(.subviewbutton-iconic) {
    padding-inline-start: var(--panel-item-indent-app-menu) !important;
}

/** 显示 addMenu 菜单图标 */
:is(#contentAreaContextMenu, #tabContextMenu)[photoncompact="true"]:not([needsgutter])>.addMenu:is(menu, menuitem)> :is(.menu-iconic-left, .menu-icon),
:is(#contentAreaContextMenu, #tabContextMenu)[photoncompact="true"]:not([needsgutter])>menugroup.addMenu>.addMenu.showText> :is(.menu-iconic-left, .menu-icon),
:is(#contentAreaContextMenu, #tabContextMenu)[photoncompact="true"]:not([needsgutter])>menugroup.addMenu.showText>.addMenu> :is(.menu-iconic-left, .menu-icon),
:is(#contentAreaContextMenu, #tabContextMenu)[photoncompact="true"]:not([needsgutter])>menugroup.addMenu.showFirstText>.menuitem-iconic:first-child> :is(.menu-iconic-left, .menu-icon),
#tabContextMenu[photoncompact="true"] #OpenWithHelper-Tab-Menu> :is(.menu-iconic-left, .menu-icon) {
    visibility: visible !important;
    display: flex !important;
}

@media (-moz-platform: windows) {
    :is(popup, menupopup) :is(menu, menuitem):not(:is([checked]), .bookmark-item, .openintabs-menuitem, .menu-iconic, .menuitem-iconic) {
        padding-inline-start: var(--panel-item-indent-base) !important;
    }

    .openintabs-menuitem {
        padding-inline-start: calc(var(--panel-item-indent-base) - var(--arrowpanel-header-back-icon-padding)) !important;
    }

    :is(popup, menupopup) :is(menu, menuitem):not([data-usercontextid]):not(.bookmark-item, .menu-iconic, .menuitem-iconic) .menu-icon:not([src]) {
        display: none !important;
    }

    :is(popup, menupopup) :is(menu, menuitem):not([data-usercontextid])[checked]:not(.bookmark-item, .menu-iconic, .menuitem-iconic) .menu-icon:not([src]) {
        display: block !important;
    }

    :is(popup, menupopup) :is(menuseparator, .bookmarks-actions-menuseparator) {
        appearance: none;
        margin: 2px !important;
        margin-inline-start: var(--panel-item-indent-button) !important;
        padding-block: 4px !important;

        :root[uidensity="compact"] & {
            padding-block: 2px !important;
        }
    }

    #context-navigation {
        margin-inline: var(--panel-margin-inline) !important;
    }

    :is(popup, menupopup) menuseparator#context-sep-navigation {
        appearance: none;
        margin: 2px !important;
        margin-inline-start: var(--panel-item-indent-base) !important;
        margin-inline-end: var(--panel-separator-end-margin) !important;
        padding-block: 4px !important;

        :root[uidensity="compact"] & {
            padding-block: 2px !important;
        }
    }
}

/* 颜色 */
menupopup,
panel[type="autocomplete-richlistbox"],
menulist>menupopup>menucaption {
    -moz-window-shadow: none !important;
    background: 0 !important;
    border: 0 !important;
    color: var(--panel-color) !important;
    box-sizing: content-box !important;
    color: inherit !important;
}

.panel-arrowcontent {
    background: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    font: -moz-pull-down-menu !important;
    border: 0 !important;
}

.popup-internal-box,
#PopupSearchAutoComplete>*,
.menupopup-arrowscrollbox {
    background: var(--panel-background) !important;
}

.menupopup-arrowscrollbox {
    background: var(--panel-background) !important;
}

@include Dark {

    /* 深色模式菜单背景颜色 */
    panel[type="autocomplete-richlistbox"],
    .menupopup-arrowscrollbox {
        background-color: #353d49 !important;
    }
}

/* 圆角 */
menupopup,
.menupopup-arrowscrollbox {
    border-radius: var(--panel-border-radius) !important;
}

/* themes a menupopup (or other root level / shadow dom popup) as a panel */
/* Mozilla's use of shadow dom means we can't use a menupopup > .popup-internal-box */
.popup-internal-box,
#PopupAutoComplete>.autocomplete-richlistbox,
.menupopup-arrowscrollbox {
    background: var(--panel-background) !important;
    border: 1px solid var(--panel-border-color) !important;
    padding: var(--panel-margin-block) 0 !important;
}

.popup-internal-box,
.menupopup-arrowscrollbox {
    border: var(--panel-border) !important;
}

#PopupSearchAutoComplete>* {
    border-radius: 0 !important;
}

#PopupSearchAutoComplete> :first-child {
    border-radius: var(--panel-list-border-radius) var(--panel-list-border-radius) 0 0 !important;
}

#PopupSearchAutoComplete> :last-child {
    border-radius: 0 0 var(--panel-list-border-radius) var(--panel-list-border-radius) !important;
}

/* autocomplete panel can't overlap the textbox, so shadow can't go up
   more than 1px */
panel[type="autocomplete-richlistbox"]>.autocomplete-richlistbox {
    box-shadow: var(--panel-shadow) !important;
    border: var(--panel-border) !important
}

/* search panel gets special treatment; it has multiple children */
#PopupSearchAutoComplete>.autocomplete-richlistbox {
    box-shadow: none !important;
}

#PopupSearchAutoComplete {
    filter:
        drop-shadow(0 8px 6px rgba(0, 0, 0, .25)) drop-shadow(0 1px 1px rgba(0, 0, 0, .125)) !important;
}

/* reset non-layout props when embedded in a panel
   (panel handles panel theming in this case) */
.panel-arrowcontent>.popup-internal-box {
    background: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

/* shotgun approach to undo this selector...
   #BMB_bookmarksPopup menupopup[placespopup="true"]:-moz-lwtheme::part(innerbox)
   ...without being able to use ::part() in userChrome.css */
[part="innerbox"] {
    box-shadow: none !important;
    margin: 0 !important;
}

.autocomplete-richlistitem {
    height: 30px !important;
    border: 0 !important;
    color: inherit !important;
    fill-opacity: initial !important;

    :root[uidensity="compact"] & {
        height: 26px !important;
    }
}

menupopup :is(menu, menuitem) {
    height: 30px !important;

    :root[uidensity="compact"] & {
        height: 26px !important;
    }
}

/* 修复输入框下拉菜单选中样式 */
.autocomplete-richlistitem[selected] {
    color: #ffffff !important;
}

menupopup menu[_moz-menuactive=true],
menupopup menuitem[_moz-menuactive=true],
menupopup menuitem:hover:not([disabled=true]),
menupopup menu:hover:not([disabled=true]),
.autocomplete-richlistitem:hover:not([disabled=true]):not([selected=true]) {
    background-color: var(--panel-dimmed) !important;
}

/* disable vertical menu scroll buttons and use a good ol' scrollbar */
/* this is a shotgun approach, expect side effects */
scrollbox[orient=vertical] {
    overflow-y: auto !important;
}

/* this is a bit depressing... */
/* work around lack of ::part selector support */
:root {
    --scrollbutton-display: -moz-box !important;
}

menuitem-iconic,
.menu-iconic-icon,
.menu-icon

/* .menu-iconic-icons not necessarily within a .menuitem-iconic (don't ask me why...) */
    {
    fill: currentColor !important;
    -moz-context-properties: fill, fill-opacity, stroke, stroke-opacity !important;
}