@use '../utils/pref' as *;

@include And(F-Option("sidebar.verticalTabs"),
    F-Option("widget.windows.mica")) {

    /* Edge 开启了垂直标签标题栏就没有 Mica 效果了 */
    :root {
        --toolbar-color: light-dark(rgb(21, 20, 26), rgb(251, 251, 254));
        --toolbar-bgcolor: light-dark(#f9f9fb, rgb(43, 42, 51));
    }

    .browser-toolbox-background,
    #sidebar-main,
    #status-bar {
        color: var(--toolbar-color) !important;
        background-color: var(--toolbar-bgcolor) !important;
    }
}